
<!DOCTYPE html>
<html lang="en">
        <head>
                <title>Blog</title>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

                        <style>
                        .row.content {

                                height: 1500px;
                        }
                        
                        .sidenav {
                                background-color: #555;
                                color: white;
                                padding: 15px;

                        }
                        @media screen and (max_width: 767px){
                                .sidenav{
                                        height: auto;
                                        padding: 15px;
                                }
                                .row.content {
                                        height: auto;
                                }
                        }
                        </style>
        </head>

        <body>
                <div class="container-fluid">
                        <div class="row content">
                                <div class="col-sm-3">
                                        <h4>Blog Post</h4>
                                        <ul class="nav nav-pills nav-stacked">
                                                <li class="active"><a href="#section1">Home</a></li>
                                                <li><a href="#section2">Top Post</a></li>
                                                <li><a href="#section3">Recent Post</a></li>
                                        </ul> <br>
                                        <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Search...">
                                                <span class="input-group-btn">
                                                        <button class="btn btn-default" type="button">
                                                                <span class="glyphicon glyphicon-search"></span>

                                                        </button>
                                                </span>
                                        </div>
                                </div>
                                <div class="col-sm-9">
                                        <h4><small>RECENT POST</small></h4>
                                        {% for obj in object_list %}
                                        <h4><small></small></h4>
                                        <hr>
                                        <h2>{{ obj.title|safe}}</h2>
                                        <h5><span class="gyphicon glyphicon-time"></span> Post by {{obj.blogger.name}}</h5>
                                        <h5> <span class="label label-danger">{{ obj.category|default_if_none:'' }}</span> <span class="label label-primary">{{ obj.created_at}}</span></h5>
                                        <p>
                                        {{ obj.content|safe }}
                                        <br>
                                        <br>
                                        
                                        <hr>

                                        <h4>Leave a Comment:</h4>

                                        <form role="form">
                                                <div class="form-group">
                                                        <textarea class='form-control' rows="3" required></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-success">Submit</button>
                                        </form>
                                        <br><br>
                                        <p><span class="badge">{{ obj.comment.count }}</span> Comments:</p> <br>
                                        {% for comment in obj.comment.all %}
                                        
                                        
                                        <div class="row">
                                                <div class="col-sm-2 text-center">
                                                        <img src="{{ comment.photo }}" class="img-circle" height="65" width="65" alt="Avatar">
                                                </div>
                                                
                                                <div class="col-sm-10">
                                                        <h4>{{ comment.user }} <small>{{ comment.time}}</small></h4>
                                                        
                                                        <p>{{ comment }}</p>
                                                </div>
                                                <br>            
                                        </div>
                                        {% endfor %}
                                        {% endfor %}

                                        {% comment %}
                                        <h4><small>TOP POST</small></h4>
                                        <hr>
                                        <h2>Officialy  Blogging</h2>
                                        <h5><span class="glyphicon glypicon-time">Post by Pooja,time</span></h5>
                                        <h5><span class="label label-success">Lorem</span></h5><br>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                
                                        <hr>

                                        <h4>Leave a Comment:</h4>

                                        <form role="form">
                                                <div class="form-group">
                                                        <textarea class='form-control' rows="3" required></textarea>
                                                </div>
                                                <button type="submit" class="btn btn-success">Submit</button>
                                        </form>
                                        <br><br>

                                        <p><span class="badge">2</span> Comments:</p> <br>

                                        <div class="row">
                                                <div class="col-sm-2 text-center">
                                                        <img src="bandmember.jpg" class="img-circle" height="65" width="65" alt="Avatar">
                                                </div>
                                                <div class="col-sm-10">
                                                        <h4>talk <small>Sep 29, 2015, 9:12 PM</small></h4>
                                                        <p>Keep up the good work!</p>
                                                </div>
                                                <br>
                                                
                                        </div>
                                        {% endcomment %}
                                
                                </div>


                        </div>

                </div>
        </body>

</html>
