{% load static %}

<!DOCTYPE html>
<html>

<style>
    .category-box span{
        text-align: center !important;
        color: red;
    }
</style>
{% include 'user/header.html' %}

<body>

    {% include 'user/navbar.html' %}
    
    <div class="container">
        <div class="row">

            <div class="col-md-8">
                <div class="date-place">
                <h4>{{ object.created_at }}</h4>
                </div>
                <div class="category-box"><span>{{ object.category }}</span></div>

                <div class="title-place">
                    <h3>{{ object.title }}</h3>
                </div>
                <div class="title-content">
                    <p>{{ object.content|safe }}</p>
                </div>

                {% if object.image %}
                <div class="image-content">
                        <img src=" {{ object.image.url }}" class="responsive" width="300" height="200">

                </div>
                {% endif %}
            </div>

            {% include 'user/sidebar.html' %}
        </div>

    </div>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>

</body>

{% include 'user/footer.html' %}

</html>


{% comment %}
{% load static %}
<style>
    .container {
        text-align: center;
        margin-top: 10px;
    }

    .post-title {
        text-decoration: blue;
        font-size: 2em;
        font-weight: bold;
        float: left;
    }

    .post-content {}
</style>
<html>

<head>
    <title>Post Detail Page</title>
    <link href='style.css' rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img class="d-block w-100" src="{% static 'frontend/images/download.jpeg' %}">
            </div>

            <div class="col-md-6">
                <div class="row">
                    <p class="post-title">{{ object.title }}</p>
                </div>
                <div class="row">
                    <p class="post-content">{{ object.content }}</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

{% endcomment %}
