<!DOCTYPE html>
<html lang="en">
  {% load static %}

<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Star Admin Free Bootstrap Admin Dashboard Template</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'frontend/vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href=" {% static 'frontend/vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/vendors/css/vendor.bundle.addons.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />


  {% block head %}{% endblock %}
</head>
<body>

{% include 'frontend/header.html' %}

{% block content %} {% endblock %}

{% include 'dashboard/sidebar.html' %}

<!-- plugins:js -->
<script src="{% static 'frontend/vendors/js/vendor.bundle.base.js' %}"></script>
<script src="{% static 'frontend/vendors/js/vendor.bundle.addons.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="{% static 'frontend/js/off-canvas.js' %}"></script>
<script src="{% static 'frontend/js/misc.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static 'frontend/js/dashboard.js' %}"></script>
<!-- End custom js for this page-->

</body>

<!-- {% include 'frontend/footer.html' %} -->
</html>

{% block script %}

{% endblock %}