{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav" style="margin-top: 100px;">
      {% comment %}
      <li class="nav-item nav-profile">
        <div class="nav-link">
          <div class="user-wrapper">
            <div class="profile-image">
              <img src="{% static 'frontend/images/faces/face1.jpg' %}" alt="profile image">
            </div>
            <div class="text-wrapper">
              <p class="profile-name">Pooja Bhatta</p>
              <div>
                <small class="designation text-muted">Manager</small>
                <span class="status-indicator online"></span>
              </div>
            </div>
          </div>
          <button class="btn btn-success btn-block">New Project
            <i class="mdi mdi-plus"></i>
          </button>
        </div>
      </li>
      {% endcomment %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard:post_create' %}">
          <i class="menu-icon mdi mdi-television"></i>
          <span class="menu-title">Post</span>
        </a>
      </li>
      {% comment %}
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <i class="menu-icon mdi mdi-content-copy"></i>
          <span class="menu-title">Basic UI Elements</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a class="nav-link" href="{% static 'frontend/pages/ui-features/buttons.html' %}">Buttons</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% static 'frontend/pages/ui-features/typography.html' %}">Typography</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% static 'frontend/pages/forms/basic_elements.html' %}">
          <i class="menu-icon mdi mdi-backup-restore"></i>
          <span class="menu-title">Form elements</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% static 'frontend/pages/charts/chartjs.html' %}">
          <i class="menu-icon mdi mdi-chart-line"></i>
          <span class="menu-title">Charts</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% static 'frontend/pages/tables/basic-table.html' %}">
          <i class="menu-icon mdi mdi-table"></i>
          <span class="menu-title">Tables</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% static 'frontend/pages/icons/font-awesome.html' %}">
          <i class="menu-icon mdi mdi-sticker"></i>
          <span class="menu-title">Icons</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
          <i class="menu-icon mdi mdi-restart"></i>
          <span class="menu-title">User Pages</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auth">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a class="nav-link" href="{% static 'frontend/pages/samples/blank-page.html' %}"> Blank Page </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% static 'frontend/pages/samples/login.html' %}"> Login </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% static 'frontend/pages/samples/register.html' %}"> Register </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% static 'frontend/pages/samples/error-404.html' %}"> 404 </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% static 'frontend/pages/samples/error-500.html' %}"> 500 </a>
            </li>
          </ul>
        </div>
      </li>
      {% endcomment %}
    </ul>
  </nav>